.header {
    z-index: 60;
    position: fixed;
}

.logo img {
    width: 50px;
    height: 50px;

}

.cart {
    padding-right: 1rem;
}

.search {
    width: 29px;
}

/* navbar */
.navbar {
    justify-content: space-between;
    padding: 20px 15px;
    align-items: center;
}

.nav {
    /* justify-content: space-between; */
    gap: 10px;

}

.nav-elements {
    transition: 0.2s;
}

.nav-elements:hover {
    transform: scale(1.1);
}

.nav_middle {
    padding-inline: 20px;
    align-items: center;
}

.nav-right img {
    padding-right: 5px;
}

.gap {
    padding-inline: 30px;
}

/* routers*/
.hov {
    padding: 5px;
}

.hov:hover {
    background-color: rgb(238, 238, 238);
    padding: 5px;
    border-radius: 30%;
}

@media only screen and (max-width:500px) {
    .nav-left {
        display: none;
    }

    .nav-right {
        display: none;
    }
}




.active {
    color: black;
}

.active:hover {
    background: rgb(238, 238, 238);
    background: linear-gradient(90deg, rgba(238, 238, 238, 1) 100%, rgba(0, 255, 233, 1) 100%);
    ;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 50;
    position: sticky;
    top: 0;


}

nav .title {
    font-size: 1.5rem;
    margin: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 0.5rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
}

nav ul li a:not(.active):hover {
    background: rgb(238, 238, 238);
    background: linear-gradient(90deg, rgba(238, 238, 238, 1) 100%, rgba(0, 255, 233, 1) 100%);
}

nav .menu {
    display: none;
    position: absolute;
    top: 1.5rem;
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2rem;
    height: 1.5rem;

}


nav .menu span {
    height: 0.3rem;
    width: 100%;
    background-color: black;
    border-radius: 0.2rem;
}


@media (max-width: 750px) {
    nav .menu {
        display: flex;
    }

    .cart {
        display: none;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.25rem;
    }

    nav ul.open {
        display: flex;
    }

    nav ul li {
        width: 100%;
        text-align: center;
    }

    nav ul li a {
        margin: 0.2rem 0.5rem;
    }
}
    